<?xml version="1.0" encoding="UTF-8"?> 
	<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.maxmpz.poweramp.simplewidgetpack" android:versionCode="200" android:versionName="2.0-build-200"
	     android:installLocation="internalOnly">

    <application android:icon="@drawable/wp1_app_icon" android:label="@string/app_name" android:name=".Application">
    	
		<!-- Widgets -->

		<receiver android:name="com.maxmpz.poweramp.simplewidgetpack.WidgetPAPIReceiver">
			<intent-filter>
				<action android:name="com.maxmpz.audioplayer.TRACK_CHANGED"/>
				<action android:name="com.maxmpz.audioplayer.AA_CHANGED"/>
				<action android:name="com.maxmpz.audioplayer.STATUS_CHANGED"/>
				<action android:name="com.maxmpz.audioplayer.PLAYING_MODE_CHANGED"/>
				<action android:name="android.intent.action.MEDIA_REMOVED"/> 
			</intent-filter>				
		</receiver>

		<service android:name="com.maxmpz.poweramp.simplewidgetpack.WidgetUpdaterService" android:label="Widget Updater Service">
		</service>
    
    	<activity android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget4x4Configure" android:theme="@style/ActivityWidgetConfigure"  android:label="@string/configure_widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>

		<activity android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget4x1Configure" android:theme="@style/ActivityWidgetConfigure"  android:label="@string/configure_widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
		<activity android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget4x2Configure" android:theme="@style/ActivityWidgetConfigure"  android:label="@string/configure_widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
		<activity android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget2x2Configure" android:theme="@style/ActivityWidgetConfigure"  android:label="@string/configure_widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>

		<receiver android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget4x1Provider" android:label="@string/widget_4x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x1"/>
		</receiver>
		<receiver android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget4x2Provider" android:label="@string/widget_4x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x2"/>
		</receiver>
		<receiver android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget2x2Provider" android:label="@string/widget_2x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_2x2"/>
		</receiver>
		<receiver android:name="com.maxmpz.poweramp.simplewidgetpackcommon.Widget4x4Provider" android:label="@string/widget_4x4">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x4"/>
		</receiver>
		<!-- Widgets End -->
    </application>
    
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>
	<supports-screens android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:anyDensity="true"/>
</manifest>