<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- Queries element to support new package visibility rules for target sdk=30 and Android 11:
	     https://developer.android.com/about/versions/11/privacy/package-visibility -->
	<queries>
		<intent>
			<action android:name="com.maxmpz.audioplayer.API_COMMAND"/>
		</intent>
	</queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
	    tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="com.maxmpz.PowerampSkins" android:resource="@xml/skins"/>

        <activity android:name=".SkinInfoActivity"
	        android:exported="true"
	        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

	        <!-- This action should be used by skin apps for their main activity intent-filter element in AndroidManifest.xml.<br>
	             Helps future Poweramp builds (targeting Android 11/SDK=30) to find skins, as Android 11 requires some explicit action to be
	             defined by the "plugin" apps, such as skins -->
	        <intent-filter>
		        <action android:name="com.maxmpz.audioplayer.SKIN_MAIN" />
	        </intent-filter>
        </activity>
    </application>

</manifest>