<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.maxmpz.poweramp.apiexample"
	android:versionCode="1"
	android:versionName="1.0">

	<application
		android:icon="@mipmap/app_icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:allowBackup="false"
		>
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".EqActivity"
			android:label="Eq">
		</activity>

		<activity
			android:name=".FoldersActivity"
			android:label="Folders" />

		<activity
			android:name=".FilesActivity"
			android:label="Files" />

		<receiver android:label="PowerampAPIReceiver" android:name=".PowerampAPIReceiver">
			<intent-filter>
				<action android:name="com.maxmpz.audioplayer.STATUS_CHANGED_EXPLICIT"/>
				<action android:name="com.maxmpz.audioplayer.TRACK_CHANGED_EXPLICIT"/>
			</intent-filter>
		</receiver>


	</application>
</manifest>