<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0"
	>
	<!-- Queries element to support new package visibility rules for target sdk=30 and Android 11:
	     https://developer.android.com/about/versions/11/privacy/package-visibility -->
	<queries>
		<intent>
			<action android:name="com.maxmpz.audioplayer.API_COMMAND"/>
		</intent>
	</queries>
</manifest>